[submodule "elasticfusionpublic"]
	path = elasticfusionpublic
	url = https://github.com/zhenni/ElasticFusionPublic.git
	branch = semanticfusion
[submodule "caffe_semanticfusion"]
	path = caffe_semanticfusion
	url = https://github.com/zhenni/Caffe_SemanticFusion.git
	branch = master
